body {
    background-size: 100%;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
}

.wrapper {
    display: flex;
    flex-direction: column;
    flex-flow: column nowrap;
    width: 100%;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
}

.navbar-themed {
    flex: none;
    background-color: #534BAE !important;
    color: #fff !important;
    font-family: 'ZCOOL QingKe HuangYou', cursive !important;
}

    .navbar-themed > div {
        padding-top: 6.5px;
        padding-bottom: 6.5px;
    }

    .navbar-themed .navbar-brand {
        color: #fff !important;
        font-size: 20pt;
    }

.logo {
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    font-size: 1.5em;
    text-decoration: none;
    color: white;
}

    .logo:hover, .logo:active, .logo:focus {
        font-family: 'ZCOOL QingKe HuangYou', cursive;
        font-size: 1.5em;
        color: white;
        text-decoration: none;
    }

.content {
    flex: auto;
    text-align: center;
}

.parent {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center
}

.child {
    margin: 0
}

.heading {
    margin-bottom: 2.5rem;
    color: #534BAE;
    font-size: 2.8em;
    line-height: 1.4;
    text-align: center;
}

.search-group {
    margin: 0 auto;
    max-width: 400px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.37);
}

.search-results {
    display: block;
    max-width: 399px;
    margin: -10px auto 0;
    padding: 10px 0 .4em;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.37);
}

    .search-results > ul {
        display: block;
        margin: 0;
        padding: 0;
    }

        .search-results > ul > li {
            display: block;
            list-style: none;
            padding: .6em 1em;
            cursor: pointer;
        }

            .search-results > ul > li:hover {
                background-color: #eee;
            }

            .search-results > ul > li:active {
                font-weight: 600;
            }

            .btn-group {
                padding: 0.4em;
                box-shadow: 0.1em 0.1em 0.5em grey;
                background-color: white;
                margin-top: 1.0em;
            }

.search {
    background-color: white;
    border: none;
}

.fa-search {
    color: #534BAE;
}

footer {
    padding-top: 1em;
    padding-bottom: 2em;
}

    footer .credits {
        color: rgba(0, 0, 0, 0.37);
        font-size: 1.2em;
        line-height: 1.6;
        text-align: center;
    }

        footer .credits > .authors,
        footer .credits > .year {
            display: block;
            
        }

    footer .language {
        text-align: right;
    }

.dropbtn {
    background-color: white;
    color: #534BAE;
    padding: 1.0em;
    font-size: 1.0em;
    border: none;
    cursor: pointer;
}

    .dropbtn:hover,
    .dropbtn:focus,
    .dropbtn:active {
        box-shadow: none !important; /* Overriding bootstrap's inset box-shadow */
        color: #534BAE !important; /* Overriding bootstrap's default color change */
    }

/* The container <div> - needed to position the dropdown content */
.dropup {
    position: relative;
    display: inline-block;
}


.result {
    text-align: left;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    padding-top: 3vw;
}

.location {
    padding: 1em 0 1.5em;
}

.box {
    flex: 1;
    height: 100%;
    border-radius: 3px 3px 0 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.37);
    z-index: 1;
}

.left {
    margin-bottom: 1.0em;
}

.static {
    font-family: 'Roboto', sans-serif;
    color: grey;
    font-size: 0.8em;
}

    .static img {
        max-width: 100%;
    }

.textarea {
    padding-top: 2em;
}

    .textarea p {

    }


/* Container for bars */
.traffic_bar {
    width: 100%; /* Full width */
    background-color: #ddd; /* Grey background */
    border-radius: 2.0em;
    margin-bottom: 1.0em;
}

.volume {
    padding: 0.5em; /* Add some padding */
    border-radius: 2.0em;
    text-align: right; /* Right-align text */
    color: white; /* White text color */
}

.volume_text {
    margin-bottom: 1.5em;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8em;
    text-align: center;
    text-transform: uppercase;
    color: grey;
}

/* Dark Grey */

.back-btn {
    background-color: white;
    border: none;
    color: #534BAE;
    margin-top: 1.0em;
    text-decoration: none;
}

    .back-btn:hover,
    .back-btn:active,
    .back-btn:focus {
        text-decoration: none;
    }

    .back-btn > i {
        margin-right: 0.6em;
        margin-bottom: 1.5em;
    }
